// variables

// colorways

.default {
  --isabelline: hsla(38, 24%, 93%, 1);
  --amazon: hsla(129, 18%, 38%, 1);
  --medium-turquoise: hsla(177, 59%, 62%, 1);
  --independence: hsla(247, 18%, 29%, 1);
  --fire-opal: hsla(7, 82%, 63%, 1);
}

$isabelline: rgba(242, 239, 234, 1);
$amazon: rgba(80, 114, 85, 1);
$medium-turquoise: rgba(102, 215, 209, 1);
$independence: rgba(64, 61, 88, 1);
$fire-opal: rgba(238, 99, 82, 1);
$rich-black: 0C1618;
